* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Shared style */
.hero-section,
.our-plants,
.about-us,
.offer {
    max-width: 1140px;
    margin: 0 auto;
}


/* nav style */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: transparent;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.nav__menu li a {
    display: block;
    line-height: 24px;
}

.nav__menu li:nth-child(1) a,
.nav__menu li:nth-child(4) a {
    color: var(--nav-menu-color-1);
    font-weight: var(--bold-font-weight);
}

.nav__menu li:nth-child(2) a,
.nav__menu li:nth-child(3) a {
    color: var(--nav-menu-color-2);
}

.nav__icon {
    margin-right: 10px;
}

/* banner section */


.hero-section {
    margin: 120px auto;
}

.hero-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
}

.hero-section__img img {
    width: 570px;
    height: 355px;
    max-width: 100%;
    height: auto;
    border-radius: 13px;
}

.hero-section__title {
    font-family: "Noto Serif", serif;
    font-size: var(--biggest-font-size);
    font-weight: var(--bold-font-weight);
}

.title__span {
    color: var(--primary-color);
}

.section__description {
    margin-top: 13px;
    font-size: var(--big-font-size);
    color: var(--description-color);
}